/config/global.json
/cloud/keys.json.js
/h

*/gen/
*.log
*~
*.orig

/a-scratch/*
!/a-scratch/templates/

/OME/

/secrets

/zz_build_*/

/local-libs/
/a-lighttable/

scratch-*

*.bak

/TAGS

/public/x

/cloud/mix
/cloud/views/mix
/public/mix
/public/views/mix

*.geany
