
<!DOCTYPE html>
<html>
  <head>
	<base target="_blank">
    <link rel="stylesheet" type="text/css" href="logged-in.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="mix/gen/debug-config.js"></script>
	<script src="gen/client-lib.js"></script>
	<script src="<%=ajax.mainScript%>"></script>
	<script>
		window.mix.register("<%=path%>");
	</script>
    <title>?-<%=ajax.title%>@Engelbärchen</title>
  </head>
  <body>
  </body>
</html>
