<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE>Add bearmark - Engelbärchen</TITLE>
    <SCRIPT SRC="mix/gen/debug-config.js"></SCRIPT>
    <SCRIPT SRC="gen/client-lib.js"></SCRIPT>
    <script src="gen/bestaetige-bearmark.js"></script>
    <STYLE TYPE="text/css">
    </STYLE>
</HEAD>
<BODY LANG="de-DE" DIR="LTR">
<H1>Add bearmark</H1>
<H2>Bearmark</H2>
<P>Titel {{= title }} <BR>Url {{= url }} 
</P>
<P>Referer {{= referer }}</P>

<HR>
<P><a href="logout" onclick="return logout()">Tschaui</a> <A HREF="/">Start</A></P>
<P><BR><BR>
</P>
<FORM ACTION="/bearmark_eintragen" METHOD="POST">
    <P>Name <INPUT TYPE=TEXT NAME="user" SIZE=20>Pass<INPUT TYPE=PASSWORD NAME="pass" SIZE=20><INPUT TYPE=HIDDEN NAME="title" VALUE="{{= title }}"><INPUT TYPE=HIDDEN NAME="url" VALUE="{{= url }}"></P>
    <P><BR><INPUT TYPE=SUBMIT VALUE="Eintragen" onclick="return mySubmit(this)">    
        </P>
</FORM>
<HR>
<H2>Fachchinesisch vom Teufelchen:</H2>
<pre id="log">{{= log }}
<script>dump()</script>
</pre>
</BODY>
</HTML>
