
<!DOCTYPE html>
<html>
	<head>
		<title>Login@Engelbärchen</title>
	</head>
	<body>
		<h1>Hier spielen Engelchen mit Bärchen.</h1>
		<h2>Du auch? Und wer bist du?</h2>
		<form action="login" method="post">
			<input type="text" name="username" placeholder="Username" />
			<input type="password" name="password" placeholder="Password" />
			<input type="submit" name="bekannt" value="Los!" />
			<input type="submit" name="neu_hier" value="Bin neu. Merk dirs Compi :-)" />
		</form>	
	</body>
</html>
