<!DOCTYPE html>
<html>

<head>
    <script src="mix/gen/debug-config.js"></script>
    <script src="gen/client-lib.js"></script>
    <script src="gen/nop.js"></script>
    <title>Debug - Engelbärchen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    Menu: <a href=".">Start</a>
    <h1>Fachchinesisch vom Teufelchen:</h1>
    <h2>Das Log:</h2>
    <pre id="log">{{=msg}}</pre>

</body>

</html>
