
<!DOCTYPE html>
<html>
  <head>
    <title>Meldung@Engelbärchen</title>
  </head>
  <body>
    <h1>Meldung</h1>
    <pre><%= message %></pre>
    <a href="/">Mach weiter Compi ...</a>  
 </body>
</html>
