
<!DOCTYPE html>
<html>
  <head>
    <title>Meldung@Engelbärchen</title>
  </head>
  <body>
    <h1>Meldung</h1>
    <pre><%= message %></pre>
    <p>
    
   <a href="logout" onclick="return logout()">Versuchsweise ausloggen</a> 
 </body>
</html>
